
@model List<PasswordPro.Web.Models.Entities.Password>


@if (Model.Count == 0)
{    
    <h3>There are currently no passwords. Click below to add a password.</h3>  
    <a asp-controller="Passwords" asp-action="Add" style="font-size: 25px; color:blue;">Add New Password</a>   
}
else{

<div id="confirmDelete">
</div>


<h2>Passwords</h2>

<a asp-controller="Passwords" asp-action="Add" style="font-size: 18px; color:blue;">Add New Password</a>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>URL</th>
            <th>User Name</th>
            <th>Password</th>
            <th>Email</th>
            <th>Question/Answer</th>
            <th>Note</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var password in Model)
        {
            <tr>
                <td>@password.Name</td>
                <td>@password.Url</td>
                <td>@password.UserName</td>
                <td>@password.Passphrase</td>
                <td>@password.Email</td>
                <td class="QAList">@password.QuestionAnwser</td>
                <td>@password.Note</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Passwords" asp-action="Edit" asp-route-id="@password.Id">Edit</a>
                </td>
                <td>      
                    <button class="deleteBtn" value="@password.Name" data-value="@password.Id">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
}


